* { 
  box-sizing: border-box;
}
.wrapper { 
  min-width: 100vh;
}
.container { 
  max-width: 1000px;
  margin: 0 auto;
}
.form { 
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 40px;
  background: purple;
  color: yellow;
  font-size: 24px;
}
.input { 
  display: block;
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid yellow;
  color: inherit;
}
.input::placeholder { 
color: bisque;
font-size: 24px;
}
.btn { 
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}
.btn-success { 
  background: green;
}
.btn-alert { 
  background: red;
}
.color-picker { 
  margin-bottom: 30px;
}
.textarea { 
  border: 1px solid yellow;
  height: 150px;
}
.select { 
  width: 100%;
  display: block;
  color: inherit;
  border: 1px solid royalblue;
  padding: 8px 0;
  margin: 20px 0;
}