* { 
  box-sizing: border-box;
}
.wrapper { 
  min-height: 100vh;
}
.container { 
  min-width: 1000px;
  margin: 0 auto;
}
.box { 
  width: 500px;
  height: 400px;
  background: purple;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  color: #fff;
  /* 2 свойства тени */
  text-shadow: 5px 5px 15px #000;
  box-shadow: inset 5px 5px 5px 15px red;
  transition: transform 0.8s;
}
.box:hover { 
  transform: translate(10px, 10px) rotate(180deg);
}
.logo { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  width: 1.5em;
  height: 1.5em;
  background: purple;
  color: #fff;
  text-decoration: none;
  transition: transform 0.8s, border-radius 0.8s;
  animation: combo 5s   infinite alternate ;
}
.logo:hover { 
  transform: rotate(360deg);
  border-radius: 50%; 
}
.header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link { 
  font-size: 30px;
  color: inherit;
  text-decoration: none;
}
.nav { 
  color: purple;
}
.submenu-link { 
font-size: 24px;
color: inherit;
text-decoration: none;
}
.item { 
  position: relative;
  padding: 20px 20px;
  animation: fade 0.5s   infinite alternate ;
}
.submenu { 
  position: absolute;
  padding: 15px 20px;
  left: 100;
  color: #fff;
  background: purple;
  width: 100%;
  transform: skewX(-15deg) translateX(50px);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}
.item:hover .submenu { 
transform: skewX(0) translateX(0);
opacity: 1;
pointer-events: auto;
}
.submenu-item { 
  margin: 20px 0;
}
@keyframes fade { 
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}
@keyframes combo { 
  0% { 
    transform: translate(0,0);
  }
  20% { 
    transform: translate(50px,0);
  }
  60% { 
    transform: translate(50px,50px);
  }
100% { 
  transform: translate(0,0);
}
}
